<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OrnaCodexEntries</title>
  </head>
  <body>
    <h1>OrnaCodexEntries</h1>

    <p>repos for Codex YACO API</p>

    <h2># API</h2>

    <pre><code>
    https://yaco-api.fqegg.top/
</code></pre>

    <h2># Files</h2>

    <pre><code>
/
├─ index.html
├─ _headers
├─ index.json
├─ codex.json
└─ i18n/
   ├─ en.json
   ├─ zh-hans.json
   └─ zh-hant.json
  </code></pre>
  </body>
</html>
